.modal-overlay {
  background: rgba(0, 0, 0, 0.8); /* Dark transparent background */
}

.modal-content {
  background: transparent;
  box-shadow: none; /* Remove shadow around modal content */
  padding: 3rem 1rem 1rem 0;
}

.icon-container {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 24px;
  padding-right: 10px;
  cursor: pointer;
  z-index: 1050; /* Ensure it appears above everything */
}


