.modal-overlay {
  background: rgba(0, 0, 0, 0.8); /* Dark transparent background */
}

.modal-content {
  background: transparent;
  box-shadow: none; /* Remove shadow around modal content */
}

.close-icon {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 24px;
  cursor: pointer;
  z-index: 1050; /* Ensure it appears above everything */
}